{%extends 'base.html' %}
{% block title %}Sales{% endblock %}
{% block content %}
<div>
    <h1>The Sales</h1>
</div>

<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add a sale
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Sales</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add_sales" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product ID</label>
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="pid">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" name="quantity">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>

                        <button type="submit" class="btn btn-primary">Add Sale</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Sales ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Date of sale</th>
            </tr>
        </thead>
        <tbody>

            {% for sales in sales_data %}
            <tr>
                <td>{{sales [0]}}</td>
                <td>{{sales [1]}}</td>
                </td>
                <td>{{sales [2]}}</td>
                </td>
                <td>{{sales [3]}}</td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}